<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главное меню</title>
    <script>
                function getATMBalance() {
            fetch('ATMBalance', {headers: {'Content-Type': 'text/html;charset=utf-8'
  }})
                .then(response => response.text())
                .then(text => ATMBalance.innerHTML = text)
        }

                function getATMBalanceByCells() {
            fetch('ATMBalanceByCells', {headers: {'Content-Type': 'text/html;charset=utf-8'
  }})
                .then(response => response.text())
                .then(text => ATMBalanceByCells.innerHTML = text)
        }


                function getBalance() {
            fetch('CardBalance', {headers: {'Content-Type': 'text/html;charset=utf-8'
  }})
                .then(response => response.text())
                .then(text => CardBalance.innerHTML = text)
        }

                function doExit() {
            fetch('exit')
             .then( () => location.reload());
        }

                function getCash() {
            fetch('getCash')
            .then(response => response.url)
                .then(text => window.location.href = text)
        }

                function transfer() {
            fetch('transfer')
            .then(response => response.url)
                .then(text => window.location.href = text)
        }
    </script>
</head>

<body>
<b>
<div th:switch="${card.serviceMode}">
    <p th:case="true">Сервисный режим</p>
    <p th:case="false">Стандартный режим</p>
</div>
</b>
<BR>
<BR>
<BR>
<B>КАРТА</B>
<br>
[[${card.cardNumber}]]
<br>
<B>Валюта карты</B>
[[${card.currency}]]
<BR>
<BR>
<BR>

<h4>Меню</h4>
<button onclick="getCash()">Снять наличные</button>
<br>
<button onclick="uploadCash()">Внести наличные</button>
<br>
<button onclick="transfer()">Перевод</button>
<br>
<button onclick="getBalance()">Баланс карты</button>
<br>
<pre id = "CardBalance"></pre>
<br>
<button th:if="${card.serviceMode}" onclick="getATMBalance()">Баланс банкомата</button>
<pre th:if="${card.serviceMode}" id = "ATMBalance"></pre>
<BR th:if="${card.serviceMode}">
<button th:if="${card.serviceMode}" onclick="getATMBalanceByCells()">Наличие купюр</button>
<pre th:if="${card.serviceMode}" id = "ATMBalanceByCells"></pre>
<BR th:if="${card.serviceMode}">
<br>
<button onclick="doExit()">Завершить работу</button>

</body>
</html>
