<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главное меню</title>
    <script>
        function getUserById() {
            const userIdTextBox = document.getElementById('userIdTextBox');
            const userDataContainer = document.getElementById('userDataContainer');
            const id = userIdTextBox.value;
            fetch('users/' + id, {headers: {
    'Content-Type': 'application/json;charset=utf-8'
  }})
                .then(response => response.json())
                .then(user => userDataContainer.innerHTML = JSON.stringify(user));
        }

        function createUser() {
            const newNameTextBox = document.getElementById('newNameTextBox');
            const newLoginTextBox = document.getElementById('newLoginTextBox');
            const newPasswordTextBox = document.getElementById('newPassTextBox');
            const name = newNameTextBox.value;
            const login = newLoginTextBox.value;
            const password = newPassTextBox.value;

            fetch('users',
                 {method: 'POST',
                 headers: {'Content-Type': 'application/json'},
                 body: '{"name": "'+name+'", "login": "'+login+'", "password": "'+password+'"}'
                  })
                .then(response => response.text())
                .then(text => userDataContainer.innerHTML = text)
                .then( () => location.reload());
        }
    </script>
</head>

<body>
<b>
<div th:switch="${card.serviceMode}">
    <p th:case="true">Сервисный режим</p>
    <p th:case="false">Стандартный режим</p>
</div>
</b>
<BR>
<BR>
<BR>
<B>КАРТА</B>
<br>
[[${card.id}]]
[[${card.cardNumber}]]
<br>
<B>Валюта карты</B>
[[${card.currency}]]
<BR>
<BR>
<BR>

<h4>Меню</h4>
<button onclick="getCash()">Снять наличные</button>
<br>
<button onclick="uploadCash()">Внести наличные</button>
<br>
<button onclick="transfer()">Перевод</button>
<br>
<button onclick="getBalance()">Баланс карты</button>
<br>
<button onclick="getATMBalance()">Баланс банкомата</button>
<BR>
<br>
<button onclick="getCash()">Завершить работу</button>

</body>
</html>
